.text1
{
height: 200px;
background-color: red;
}
.text2
{
    height: 200px;
    background-color: blue;
}
.pink{
    height: 200px;
    background-color: pink;
}
.yellow
{
    height: 200px;
    background-color: yellow;
}
.green
{
    height: 200px;
    background-color: green;
}