body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #93f2f5;
    color: white;
}


.gp {
    width: 200px;
    height: 200px;
    background: #8122e6;
}

.rightTop {
        width: 200px;
    height: 200px;
    background: #e6cc22;
    right: 0;
    position: absolute;
}

.leftTop {
    width: 200px;
    height: 200px;
    background: #eeaff3;
    position: absolute;
    
}

.leftBottom {
    width: 200px;
    height: 200px;
    background: #438f09;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rightBottom {
    background:#5b97e5;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 40px;
    bottom: 0;
}

.center {
    background: #e55b5b;
    width: 200px;
    height: 200px;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.left {
    width: 200px;
    height: auto;
background: red;
position: absolute;
}

.right {
    background: green;
    width: 200px;
    height: 200px;right; 
    position: fixed;
    right: 0;
    
}

h1 {
    background: green;
    color: white;
}

.pad {
    padding: 40px;
}

.marg {
    margin: 40px;
}

.red {
    width: 200px;
    float: left;
    height: 200px;
    background: red;
}

.green {
float: left;    
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    bottom: 20px;
    left: 40px;
}

.blue {
float: left;    
    width: 200px;
    height: 200px;
    background: blue;
}
