body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
  
}

.main {
    width: 100%;
    height: 100%;
    background: #2385db;
}

.about {
      width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/19679/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-attachment: fixed;
    
}

.gallery
{
     width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/157526/pexels-photo-157526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center/center cover;
    

}
