body,html
{
    height: 100%;
    color:darkblue;
    font-size:35px; 
    
}
.mytr1{
    background-color: aqua;
    text-decoration: underline;
    }
.mytr2{
    background-color:chartreuse;
    text-decoration-line: underline;

}
.mytr3{
    background-color: coral;
    text-decoration-line: underline;
   

}
.mytr4{
    background-color: darkkhaki;
    text-decoration-line: underline;
}
